<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" type = "text/css" href="style.css"> -->
</head>
<body>
    <h1>Welcome to home page</h1>
    <input type="button" id="changebtn" value="Click Me!" onclick="changeTextButton()">
    <script lang = "javascript"> 
        function changeTextButton(){
            var changebtn = document.getElementById("changebtn");
            if(changebtn.value == "Click Me!"){
                changebtn.value = "clicked!";
            }else{
                changebtn.value = "Click Me!";
            }
        }
    </script>
    <!-- <script src= "js/home.js"></script> -->
</body>
</html>
<!-- If you want to create new files for your CSS and JavaScript, the ideal location to put them is under the folder ‘static’. -->